:host {
  all: initial;
  display: block;
  contain: content;
}

iframe {
  width: var(--width, initial);
  height: var(--height, initial);
  border: var(--border, inherit);
  border-radius: var(--border-radius, inherit);
  box-sizing: border-box;
}
